In [8]:
import duckdb
import numpy
import pandas

conn = duckdb.connect('/app/data/taxi_rides_ny.duckdb')

In [11]:
# 3
result = conn.sql("SELECT COUNT(*) as record_count FROM prod.fct_monthly_zone_revenue").fetchone()
print(result[0])

CatalogException: Catalog Error: Table with name fct_monthly_zone_revenue does not exist!
Did you mean "fhv_tripdata"?

In [3]:
# 4
result = conn.sql("""
    SELECT 
        pickup_zone,
        SUM(revenue_monthly_total_amount) as total_revenue
    FROM prod.fct_monthly_zone_revenue
    WHERE service_type = 'Green'
        AND EXTRACT(YEAR FROM revenue_month) = 2020
    GROUP BY pickup_zone
    ORDER BY total_revenue DESC
    LIMIT 1
""").fetchall()


print(result)

NameError: name 'conn' is not defined

In [5]:
# 5
result = conn.sql("""
    SELECT 
        sum(total_monthly_trips)
    FROM prod.fct_monthly_zone_revenue
    WHERE service_type = 'Green'
        AND EXTRACT (MONTH FROM revenue_month) = 10
        AND EXTRACT(YEAR FROM revenue_month) = 2019
""").show()

NameError: name 'conn' is not defined

In [6]:
# 6
conn.sql("""
SELECT COUNT(*)
FROM prod.fhv_tripdata
""").show()

NameError: name 'conn' is not defined